In [9]:
import pandas
from datetime import datetime
from pytz import utc
data = pandas.read_csv('reviews.csv', parse_dates=['Timestamp'])
data.head()

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN

In [3]:
data.shape
data.columns

NameError: name 'data' is not defined

In [ ]:
data.hist('Rating') # Histogram for Ratings Column

In [ ]:
# Selecting data from dataframe
data['Rating'].mean()

In [ ]:
# Select muliple columns
data['Course Name', 'Rating']

In [ ]:
# Selecing a Row
data.iloc[3]

In [ ]:
# Selecting Multiple Rows
data.iloc[3:6]

In [ ]:
# Selecting a section
data[['Course Name', 'Rating']].iloc[3:12]

In [ ]:
# Selecting a cell
data['Timestamp'].iloc[2]

In [ ]:
data.at[2, 'Rating']

In [ ]:
# Filtlering Data based on conditions

# One Condition (Give us dataframe where ratings > 4)
data[data['Rating'] > 4]

# Same query as above but only returns the 'Rating' Column
data[data['Rating'] > 4]['Rating']

# Same query as above but return the mean from that
data[data['Rating'] > 4]['Rating'].mean

In [ ]:
# Multiple Conditions

# Where Rating > 4 and Course = The Complete Python Course: Build 10 Professional OOP Apps
data[(data['Rating'] > 4) & (data['Course Name'] == "The Complete Python Course: Build 10 Professional OOP Apps")]

In [18]:

# Time based filtering

# Exact reviews left during 2nd half of 2020
data[( data['Timestamp'] >= datetime(2020, 7, 1, tzinfo=utc))&(data['Timestamp'] <= datetime(2020, 12, 31, tzinfo=utc))]

,Course Name,Timestamp,Rating,Comment
3065,Interactive Data Visualization with Python and...,2020-12-30 23:28:34+00:00,3.0,NaN
3066,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 22:59:02+00:00,4.0,NaN
3067,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 22:40:10+00:00,4.5,NaN
3068,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 21:56:41+00:00,4.5,NaN
3069,The Python Mega Course: Build 10 Real World Ap...,2020-12-30 21:14:34+00:00,4.5,NaN
...,...,...,...,...
9729,The Python Mega Course: Build 10 Real World Ap...,2020-07-01 03:09:44+00:00,3.5,NaN
9730,The Python Mega Course: Build 10 Real World Ap...,2020-07-01 03:09:12+00:00,5.0,NaN
9731,The Python Mega Course: Build 10 Real World Ap...,2020-07-01 02:40:58+00:00,4.0,NaN
9732,The Python Mega Course: Build 10 Real World Ap...,2020-07-01 02:04:02+00:00,5.0,nice
9733,The Python Mega Course: Build 10 Real World Ap...,2020-07-01 00:01:34+00:00,2.0,Hard to follow if u have no experience program...

In [33]:
# From data to information

# Average Rating
data['Rating'].mean()

# Average Rating for a Particular Course
data[data['Course Name'] == "The Python Mega Course: Build 10 Real World Applications"]['Rating'].mean()

# Average Rating for a Particular Period
data[( data['Timestamp'] >= datetime(2020, 7, 1, tzinfo=utc)) & 
     (data['Timestamp'] <= datetime(2020, 12, 31, tzinfo=utc))]['Rating'].mean()

# Average Rating for a Particular Period for a Particular Course
data[(data['Timestamp'] >= datetime(2020, 7, 1, tzinfo=utc)) & 
     (data['Timestamp'] <= datetime(2020, 12, 31, tzinfo=utc)) &
    (data['Course Name'] == 'The Python Mega Course: Build 10 Real World Applications')
    ]['Rating'].mean()

# Average on Uncommented Ratings
data[data['Comment'].isnull()]['Rating'].mean()

# Number of Uncommented Ratings
data[data['Comment'].isnull()].count()

# Number of Commented Ratings
data[data['Comment'].notnull()].count()

# Number of comments containing a certain word
data[data['Comment'].str.contains('accent', na=False)].count()

# Average of commented ratings 
data[data['Comment'].str.contains('accent', na=False)]['Rating'].mean()

3.8636363636363638